/* ログイン画面 */
.login{
  place-items: center;
  margin: 0 auto;
  width: 50%;
  border:  2px solid black;
  border-radius: 25px;
  background-color: #4c4b4b0f;
}
/*ユーザー名・PWの文字*/
.userPw{
  font-size: 13px;
}

/*ログイン画面入力欄*/
.loginInput{
  font-size: 160%;
  width: 100%;
  height: 25px;
}

/*ログイン画面ボタンを横並び*/
.loginbutton{
  display: flex;
}

/*ログインボタン個々の設定*/
.authbutton{
  margin: 10px;
  padding: 5px;
  width: 50%;
  background-color: orange;
  font-weight: bold;
  border-radius: 5px;
}

.tasklist{
  background-color: #c3c3c321;
  border-radius: 8px;
  padding: 10px;
}

/*ログアウトボタン設定*/
.logout{
  position: absolute;
  top: 35px;
  right: 21px;
}

/*タスク画面に表示されるボタンすべて*/
.taskButton{
  background-color: #276affd9;
  color: #ffffff;
  font-weight: bold;
  border: 1px rgb(229, 226, 226) solid;
  border-radius: 4px;
  padding: 7px;
  margin: 2px 2px 10px 10px;
}

/*タスク画面のinput*/
.taskInput{
  width: 260px;
  padding: 5px 0px;
  margin: 4px;
}
